<a href="https://colab.research.google.com/github/Palak1721/Python-Class-Experiments/blob/main/Exp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**EXP-1**

## **Experiment 1: Python Installation and basic python statements**

###1. Install Python and write the steps of installation and understand difference between scripting and interactive modes in IDLE.

**1.** Open any web browser on the laptop.

**2.** Go to the official Anaconda website and download the Anaconda installer for Windows.

**3.** Choose the Python 3.x (64-bit) version and download the setup file.

**4.** After downloading, double-click on the Anaconda installer file.

**5.** Click on Next and accept the license agreement.

**6.** Select Just Me and click Next, choose the destination folder and click Next.

**7.** Click on Install to start the installation process.

**8.** After successful installation, click on Finish and open Anaconda Navigator from the Start Menu.

**9.** In Anaconda Navigator, locate Spyder IDE and click on Launch.

The Spyder editor and console window open, indicating that Python is **successfully installed** and ready to use.

###2. Create a variable to store your age and print its type using type().

In [ ]:
age = 19
print("Age is: ", age)
print("Type of age is: ", type(age))

Age is:  19
Type of age is:  <class 'int'>

###3. Declare a string variable called x and assign it the value “Hello”. Print out the value of x

In [ ]:
x = "Hello"
print(x)

Hello

###4. Take different data types and print values using print function.

In [ ]:
Batch_int = 11
subject_string = "Python Programming"
a_float = 17.21
boolean = True
list = [1, 2, 3]
tuple = (1, 2, 3)
dict = {"name": "Palak", "age": 19}

# printing the types and values
print("integer_dtype: " ,type(Batch))
print("float_dtype: " ,type(a))
print("string_dtype: " , type(subject))
print("list_dtype: " , type(list))
print("dictionary_dtype: " , type(dict))
print("tuple_dtype: " , type(tuple))
print("boolean_dtype: " , type(boolean))

integer_dtype:  <class 'int'>
float_dtype:  <class 'float'>
string_dtype:  <class 'str'>
list_dtype:  <class 'list'>
dictionary_dtype:  <class 'dict'>
tuple_dtype:  <class 'tuple'>
boolean_dtype:  <class 'bool'>

###5. Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform addition, multiplication, division andsubtraction on these two variables and Print out the result.

In [ ]:

# Declare integer variables
x = 21
y = 17

# Operations
addition = x + y
multiplication = x * y
division = x / y
subtraction = x - y

print(f"Sum: {x} + {y} = {addition}")
print(f"Difference: {x} - {y} = {subtraction}")
print(f"Product: {x} * {y} = {multiplication}")
print(f"Division: {x} / {y} = {division}")

Sum: 21 + 17 = 38
Difference: 21 - 17 = 4
Product: 21 * 17 = 357
Division: 21 / 17 = 1.2352941176470589

###6. Write a program to computethe length of the hypotenuse (c) of a right triangle using Pythagoras theorem.

In [ ]:
import math

# input sides of right triangle
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))

# hyotenuse
c = math.sqrt(a**2 + b**2)

print(f"The hypotenuse is: {c:.2f}")

Enter side a: 5
Enter side b: 7
The hypotenuse is: 8.60

###7. Write a program to find simple interest.

In [ ]:
# Input principal, rate, and time
principal = float(input("Enter principal amount: "))
rate = float(input("Enter rate of interest: "))
time = float(input("Enter time (years): "))

# Simple interest
simple_interest = (principal * rate * time) / 100

print(f"Simple Interest: ₹{simple_interest:.2f}")
print(f"Total Amount: ₹{principal + simple_interest:.2f}")

Enter principal amount: 10000
Enter rate of interest: 2
Enter time (years): 3
Simple Interest: ₹600.00
Total Amount: ₹10600.00

###8. Write a program to find area of triangle when length of sides are given.

In [ ]:
import math

# Input three sides
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))
s = (a + b + c) / 2

# Calculate area using Heron's formula
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print(f"Area of triangle: {area:.2f} sq.units")

Enter side a: 6
Enter side b: 7
Enter side c: 8
Area of triangle: 20.33 square units

###9. Write a program to convert given seconds into hours, minutes and remaining seconds.

In [ ]:
time_in_seconds = int(input("Enter seconds: "))

# Calculate hours, minutes, and remaining seconds
hours = time_in_seconds // 3600
remaining =time_in_seconds % 3600
minutes = remaining // 60
seconds = remaining % 60

print(f"{time_in_seconds} seconds = {hours}h {minutes}m {seconds}s")

Enter seconds: 45678
45678 seconds = 12h 41m 18s

###10. Write a program to swap two numbers without taking additional variable.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print(f"Before swap: a = {a}, b = {b}")

a, b = b, a

print(f"After swap: a = {a}, b = {b}")

Enter first number: 4
Enter second number: 5
Before swap: a = 4, b = 5
After swap: a = 5, b = 4

###11. Write a program to find sum of first n natural numbers.

In [ ]:
n = int(input("Enter n: "))
sum_of_n_natural_numbers = n * (n + 1) // 2

print(f"Sum of first {n} natural numbers: {sum_of_n_natural_numbers}")

Enter n: 7
Sum of first 7 natural numbers: 28

###12. Write a program to print truth table for bitwise operators (&, | and ^ operators)

In [ ]:
print("Truth Table")
print(f"{'A':<5} {'B':<5} {'A&B':<8} {'A^B':<8} \n")
print("-"*70, "\n")

for i in [0,1]:
    for j in [0,1]:
        print(f"{i: <5} {j: <5} {i and j :<8} {i or j:<8}")

Truth Table
A     B     A&B      A^B

----------------------------------------------------------------------

0     0     0        0
0     1     0        1
1     0     0        1
1     1     1        1

###13. Write a program to find left shift and right shift values of a given number.

In [ ]:
num = int(input("Enter a number: "))
shift = int(input("Enter number of positions to shift: "))

left_shift = num << shift
right_shift = num >> shift

print("Left Shift Value:", left_shift)
print("Right Shift Value:", right_shift)

Enter a number: 7
Enter number of positions to shift: 2
Left Shift Value: 28
Right Shift Value: 1

###14. Using membership operator find whether a given number is in sequence  (10,20,56,78,89)

In [ ]:
sequence = (10, 20, 56, 78, 89)
num = int(input("Enter a number: "))

if num in sequence:
    print("The number is present in the sequence")
else:
    print("The number is not present in the sequence")

Enter a number: 20
The number is present in the sequence

**Key Concepts Learned:**

*Variable declaration and assignment

*Data type identification and conversion

*Mathematical formulas implementation

*Bitwise operations and binary representations

*Error handling with try-except blocks

*User input handling

*Function definition and usage